.menu-lateral {
    background-color: #403D39;
    width: 500px;
    height: 100vh;
}

.menu-lateral h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.CardsLinhaDeIniciativa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CardComIniciativa {
    display: flex;
    flex-direction: row;
    align-items: center;
}