html, body, #root {
  background-color: var(--cinza-escuro);
}

:root {
  --cinza-escuro: #252422;
  --cinza-medio: #403D39;
  --cinza-claro: #CCC5B9;
  --vermelho-escuro: #3D0000;
  --vermelho-claro: #6D2323;
  --azul-escuro: #003049;
  --azul-claro: #365486;
  --bege: #fdf0d5;
  --laranja: #EB5E28;
  --amarelo: #FFB200;
}

/* Barra de rolagem para o container específico */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Cor da parte da barra de rolagem que não foi rolada */
::-webkit-scrollbar-thumb {
  background-color: var(--bege); /* Cor de fundo da "cabeça" da barra */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cinza-claro); /* Cor de fundo quando passa o mouse */
}

/* Cor de fundo da área da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: var(--cinza-escuro); /* Cor de fundo da "trilha" da barra */
  border-radius: 10px; /* Bordas arredondadas da área da barra */
}