html, body, #root {
  background-color: #252422;
  margin: 0;           /* Remove as margens padrão */
  padding: 0;          /* Remove os preenchimentos padrão */
  height: 100%;        /* Faz com que ocupem toda a altura da janela */
  width: 100%;         /* Faz com que ocupem toda a largura da janela */
}

body {
  display: flex;       /* Habilita o uso de layout flexbox */
}

.App {
  height: 100%;        /* Componente App ocupa 100% da altura disponível */
  width: 100%;         /* Componente App ocupa 100% da largura disponível */
  display: flex;
}

:root {
  --cinza-escuro: #252422;
  --cinza-medio: #403D39;
  --cinza-claro: #CCC5B9;
  --vermelho-escuro: #780000;
  --vermelho-claro: #c1121f;
  --azul-escuro: #003049;
  --azul-claro: #669BBC;
  --bege: #fdf0d5;
  --laranja: #EB5E28;
  --amarelo: #FFB200;
}

/* ìcone de fechar */
.botao-fechar {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  size: 30px;
  color: var(--cinza-escuro);
}

.botao-fechar:hover {
  color: var(--vermelho-claro);
}