.card-inimigo {
  background: linear-gradient(
    to bottom,
    var(--vermelho-escuro),
    var(--vermelho-claro)
  );
  border-radius: 8px;
  width: 400px;
  margin-top: 8px;
  padding: 8px 0px 8px 8px;
}

.card-inimigo p {
  margin: 4px;
}

.card-inimigo h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
  padding-top: 0.75rem;
}

.card-inimigo h2 {
  padding-left: 8px;
  font-style: italic;
  font-weight: bold;
  color: var(--cinza-escuro);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-inimigo-info {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas com tamanhos iguais */
  padding: 10px;
}

/* ícones e descrição das labels do card do inimigo */
.card-inimigo-info p {
  font-size: 1.2em;
  justify-self: end;
  align-self: center;
  color: var(--bege);
}

.card-inimigo-info label {
  font-weight: bold;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas com tamanhos iguais */
  padding: 10px;
}

.card-inimigo-info input {
  width: max-content;
  padding: 8px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-inimigo button {
  background-color: var(--vermelho-escuro);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardComCondicao {
  border: 1px solid var(--amarelo);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Edição do card retraído */
.card-inimigo-info-retraido {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}

.card-inimigo-info-retraido input {
  margin-left: 6px;
  padding-left: 8px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-inline-size: 40%;
}

.card-inimigo-info-retraido label {
  width: 40%;
  padding-left: 6px;
  display: flex;
  flex-direction: row;
}

/* Parte de cima do retraído */
.card-inimigo-info-retraido-top {
  width: 100%;
  display: flex;
  gap: 0px;
  align-items: center;
  flex-direction: row;
}

/* Parte de baixo do retraído */
.card-inimigo-info-retraido-bottom {
  width: 100%;
  margin-bottom: 6px;
  gap: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: start;
}

.card-inimigo-info-retraido-bottom label {
  padding-top: 6px;
  width: 100%;
}

.card-inimigo-info-retraido-bottom input {
  width: 100%;
  max-inline-size: 50%;
  margin-left: 0%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.morto {
  background: linear-gradient(to bottom, #000, var(--vermelho-escuro));
  text-decoration: line-through;
}
